:root {
	--c-ocean-blue: #48dfe3;
	--c-dark-blue: #25aed4;
	--c-white: rgba(250, 250, 250);
	--c-white-mute: rgba(235, 235, 235);
	--c-black: rgba(0, 0, 0, 0.9);
	--c-black-transparent: rgba(0, 0, 0, 0.2);
	--c-white-transparent: rgba(250, 250, 250, 0.2);

	--c-black-mute: rgb(20, 20, 20);
	--c-grey: rgb(97, 97, 97);
	--c-light-grey: rgb(240, 240, 240);
	--c-grey-mute: rgb(63, 63, 63);

	--c-bg-dark: rgb(42, 42, 42);
	--c-bg-dark-grey: rgb(47, 47, 47);
}

:root {
	--color-background: var(--c-white);
	--color-background-grey: var(--c-light-grey);

	--nav-background-color: var(--c-white);
	--nav-hamburger-color: var(--c-black);
	--nav-link-color: var(--c-black);
	--nav-border-color: var(--c-black);

	--dropdown-background-color: var(--c-white);
	--dropdown-border-color: var(--c-grey);
	--color-li-hover: var(--c-ocean-blue);

	--card-box-shadow: rgba(0, 0, 0, 0.2);
	--card-background-color: var(--c-white);

	--color-border: var(--c-black);
	--color-border-grey: var(--c-grey);
	--color-border-hover: var(--c-ocean-blue);

	--button-background-color: transparent;
	--button-background-color-accent: var(--c-ocean-blue);
	--button-background-color-accent-hover: var(--c-dark-blue);

	--color-heading: var(--c-black);
	--color-heading-span: var(--c-ocean-blue);
	--color-text: var(--c-black);

	--icon-background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--c-bg-dark);
		--color-background-grey: var(--c-bg-dark-grey);

		--nav-background-color: var(--c-bg-dark);
		--nav-hamburger-color: var(--c-white);
		--nav-link-color: var(--c-white);
		--nav-border-color: var(--c-white);

		--dropdown-background-color: var(--c-black);
		--color-li-hover: var(--c-grey-mute);

		--card-box-shadow: rgba(255, 255, 255, 0.2);
		--card-background-color: var(--c-grey);

		--color-border: var(--c-white);
		--color-border-hover: var(--c-ocean-blue);

		--button-background-color: transparent;
		--button-background-color-accent: var(--c-ocean-blue);
		--button-background-color-accent-hover: var(--c-dark-blue);

		--color-heading: var(--c-black);
		--color-heading-span: var(--c-ocean-blue);
		--color-text: var(--c-white);

		--icon-background-color: var(--c-white);
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
