@import "./base.scss";

body {
	font-family: "poppins", sans-serif;
	font-size: 1.125rem;
  color: var(--color-text)

}



p {
  color: var(--color-text)
}

body:has(div.menuActive) {
	position: fixed;
}
