@import "./base.scss";

body {
	font-family: "poppins", sans-serif;
	font-size: 1.125rem;
	color: var(--color-text);
	background-color: var(--color-background);
}

body.locked {
	position: fixed;
}

a {
	color: var(--color-text);
}

ul {
	list-style: none;
}

form {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	gap: 1em;
	width: 100%;
	.form-field {
		display: flex;
		flex-direction: column;
    gap: .3em;
	}
	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1em;
		a:last-child {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	input,
	textarea,
	select {
		border-radius: 8px;
		padding: 0.5em;
		border: 1px solid;
	}
	h2 {
		text-align: center;
	}
	p {
		text-align: center;
		color: rgb(180, 25, 25);
	}
}
